@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>
@using Umbraco.Cms.Web.Common.PublishedModels;
@using Onatrix.ViewModels;

@{
    var content = (AboutCallbackSection)Model.Content;
    var settings = Model.Settings as AboutCallbackSettings;

    var formViewModel = new CallbackFormViewModel 
    {
        Options = settings?.CallbackRequestOptions ?? []
    };
}

<section class="about-callback-section">
    <div class="about-callback-section-container">
        @if (content.AboutCallbackSectionBody != null)
        {
            <div class="about-callback-section-body">
                <div class="rte">
                    @Html.Raw(content.AboutCallbackSectionBody)
                </div>
            </div>
        }

        <div class="about-callback-form-section">
            <div class="about-callback-form-header">
                @if (!string.IsNullOrWhiteSpace(content.AboutCallbackFormTitle))
                {
                    <p class="about-callback-form-title">@content.AboutCallbackFormTitle</p>
                }
            </div>
            
            @if (!string.IsNullOrWhiteSpace(content.AboutCallbackFormDescription))
            {
                <p class="about-callback-form-description">@content.AboutCallbackFormDescription</p>
            }

            <partial name="Partials/Forms/_CallbackForm" model="formViewModel" />
        </div>
    </div>
</section>

