/* SWIPER CSS - COMMENTED OUT FOR FUTURE USE
.custom-pagination {
    display: none;

    @media (min-width: 768px) {
        display: flex;
    }

    .custom-prev,
    .custom-next {

    }

    .swiper-pagination {

    }

    .swiper-pagination-bullet {

    }

    .swiper-pagination-bullet:hover {

    }

    .swiper-pagination-bullet-active {

    }
}
*/